<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM5Upl9kUwLsB73duJ7IJznyupEIiPJN8</string>
	<key>GCM_SENDER_ID</key>
	<string>947492197474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackMarket.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hasan-alturk</string>
	<key>STORAGE_BUCKET</key>
	<string>hasan-alturk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947492197474:ios:03da11cac28c45686bed3b</string>
</dict>
</plist>